<bloc-autocomplete
    [options]="options()"
    [placeholder]="placeholder()"
    [emptyText]="emptyText()"
    [loadingText]="loadingText()"
    [clearable]="clearable()"
    [loading]="loading()"
    [disabled]="disabled()"
    (selectionChange)="selectionChange.emit($event)"
>
    <ng-template blocAutocompleteOptionDef let-option let-query="query">
        <span [blocTextHighlight]="option.label" [query]="query"></span>
        @if (option.description) {
            <small [blocTextHighlight]="option.description" [query]="query"></small>
        }
    </ng-template>
</bloc-autocomplete>
